html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: #ad9dd2;
}

h2{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 15px;
    border-top: 20px;
    /* justify-content: center;
      align-items: center;
    min-height: 100vh;*/
    color: rebeccapurple;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;

}

p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 15px;
}

.nadpis {
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
   /* align-items: center;
    min-height: 100vh;*/
    color: rebeccapurple;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
}

img {
    border-radius: 3600px;
    max-width: 70px;
    max-height: 70px;
    margin: 20px;


}

p.zaliby {
    margin-top: 20px;
}